<div class="container my-5" style="min-height: calc(70vh);">
    <div class="row">
        <div class="mx-auto" style="max-width: 450px;">
            <div class="myform form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <div class="d-flex gap-2 justify-content-center align-items-center">
                        <img src="../../images/logo.png" alt="logo" width="120px">
                        <p class="h6 text-body-emphasis m-0">Admin Account</p>
                        </div>
                        <br>
                        <span class="">Login to access your admin account</span>
                    </div>
                </div>
                <form action="/admin/login" method="post" id="login-form">
                    <div class="form-group" id="section1">
                        <label for="email"><span class="d-block">Email address</span></label>
                        <input type="text" name="email"  class="input-1 mt-1 w-100" id="email" autofocus value="" >
                        <span class="email-error text-danger"></span>
                    </div>
                    <div class="form-group mt-3" id="section2">
                        <label for="password" id="password-label"><span lass="d-block">Password</span></label>
                        <input type="password" name="password" id="password"  class="input-1 mt-1 w-100">
                        <span class="password-error text-danger">{{wrongPassword}}</span>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <button type="submit" class="btn-1" >Login</button>
                    </div>
                    <div class="form-group mt-3">
                        <span class="text-center">By signing in you accept our <a class="text-primary" href="#">Terms Of Use</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>   

{{> admin/footer}}

<script>
const form = document.querySelector("#login-form")

const emailError = document.querySelector(".email-error")
const passwordError = document.querySelector(".password-error")

form.addEventListener("submit", e => {

    e.preventDefault()
	form.email.value = form.email.value.trim().toLowerCase()
	form.password.value = form.password.value.trim()

    if (form.password.value == "") {
        passwordError.innerHTML = "Password required"
        form.password.focus()
    }
	
	if (form.email.value == "") {
		emailError.innerText = "Email address required"
		form.email.focus()
	} else if (
		/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(form.email.value)
	){
        if(form.password.value){
            fetch("/admin/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({
                email: form.email.value,
                password: form.password.value,
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const retUrl = new URLSearchParams(window.location.search).get('ret') || "/admin/dashboard"
                    location.href = `${retUrl}`
                }
                else passwordError.innerHTML = data.message
            })
            .catch(error => {
                console.error("Error:", error)
            })
            }
    }
    else {
		emailError.innerHTML = "Email address not valid"
		form.email.focus()
	}



})

form.email.addEventListener("input", () => {
	passwordError.innerHTML = ""
	emailError.innerHTML = ""
})

form.password.addEventListener("input", () => {
	passwordError.innerHTML = ""
})



</script>