<div class="border-bottom" style="background-color: #f4f4f4;">
    <div class="container">
        <div class="d-flex justify-content-start align-items-center gap-1" style="height: 28px;">
            {{#each categories}}
            <a href="/shop/{{this}}/?page=1" ><p class="m-0 category-text text-capitalize">{{this}}</p></a>
            <img src="/images/Expand_down.svg" alt="" width="0px" height="12px" class="me-3">
            {{/each}}
        </div>
    </div>
</div>