<div id="filter-container" class="border rounded p-3" style="min-width: 180px;">
    <h6 class="fw-semibold">Filters</h6>
    <div id="brand">
        <p class="fw-semibold">Brands</p>
        <div>
            <label for="samsung">
                <input type="checkbox" id="samsung" data-name="samsung" onchange="filterProducts()" /> Samsung
            </label>
        </div>
        <div>
            <label for="apple">
                <input type="checkbox" id="apple" data-name="apple" onchange="filterProducts()" /> Apple
            </label>
        </div>
    </div>
    <div id="color">
        <p class="fw-semibold">Colors</p>
        <div>
            <label for="red">
                <input type="checkbox" id="red" data-name="Black" onchange="filterProducts()" /> Black
            </label>
        </div>
        <div>
            <label for="blue">
                <input type="checkbox" id="blue" data-name="Green" onchange="filterProducts()" /> Green
            </label>
        </div>
    </div>
    <div id="memory">
        <p class="fw-semibold">Memory</p>
        <div>
            <label for="8gb">
                <input type="checkbox" id="8gb" data-name="8GB" onchange="filterProducts()" /> 8GB
            </label>
        </div>
        <div>
            <label for="12gb">
                <input type="checkbox" id="12gb" data-name="12GB" onchange="filterProducts()" /> 12GB
            </label>
        </div>
    </div>
    <br>

    {{!-- <li>
        <input id="checkid" type="checkbox" value="test" />
        <label for="checkid" style="word-wrap:break-word; width:100px;">test</label>
    </li> --}}

    <span class="btn-1" onclick="goto()">Apply</span>
</div>


<style>
    li {
        list-style: none;

    }

    label,
    input {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<script>

    let url
    goto = () => location.href = url

    function filterProducts() {
        const filters = getAllSelectedFilters()
        const urlEncodedFilters = encodeURIComponent(filters)
        url = `/shop/phones/p/1?f=${urlEncodedFilters}`

        function getAllSelectedFilters() {
            let filterQuery = ""
            const filterContainer = document.querySelector('#filter-container')
            const filterCategories = filterContainer.children
            for (let i = 0; i < filterCategories.length; i++) {
                const filterCategory = filterCategories[i]
                const filterCategoryName = filterCategory.id
                const filterCategoryOptions = filterCategory.querySelectorAll(`input[type="checkbox"]:checked`)
                const filterCategoryOptionsNames = Array.from(filterCategoryOptions).map(option => option.getAttribute('data-name'))
                if (filterCategoryOptionsNames.length > 0)
                    filterQuery += `${filterCategoryName}=${filterCategoryOptionsNames.join(',')}&`
            }
            if (filterQuery[filterQuery.length - 1] === '&')
                filterQuery = filterQuery.substring(0, filterQuery.length - 1)
            return filterQuery
        }
    }

</script>