<div class="border border-1 rounded py-3 ps-2 pe-5" style="min-width: 200px;">
    <p class="filter-title fw-bold">Filters</p>
    {{!-- <p class="filter-sub-title fw-bold">Brands</p>
    <div class="d-flex align-items-center gap-1 mt-1">
        <div class="d-flex justify-content-center align-items-center check-box">
            <img src="/images/Done_round.svg" alt="" width="13px" height="13px">
        </div>
        <p class="filter-item m-0">Samsung</p>
    </div> --}}
</div>