<header class="fixed-top" style="background-color: #f4f4f4;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center gap-3" style="height: 60px;">
            <div class="d-none d-sm-block">
                <a href="/"><img src="/images/GadgetHive.svg" alt="logo" width="120px"></a>
            </div>
            <div class="d-sm-none" style="width: 15px; overflow: hidden;">
                <a href="/"><img src="/images/GadgetHive.svg" alt="logo" width="120px"></a>
            </div>

            <div class="d-flex align-items-center gap-3">

                <div class="position-relative" style="width: 300px; height: 60px;">

                    <div class="search-wrapper position-absolute t33">
                        <div class="position-relative bg-white border rounded">
                            <img src="/images/Search_gray.svg" alt="" width="16px" height="16px"
                                class=" position-absolute">
                            <input type="text" class="border-0 bg-transparent" id="navbar-search-input"
                                placeholder="Serach for Products" value="{{searchQuery}}">
                            <div id="results-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-3 align-items-center">

                    <a class="d-none d-sm-block" href="/wishlist"><img src="/images/Favorite.svg" alt="" width="20px"
                            height="20px"></a>
                    {{!-- <a class="d-sm-none" href="#"><img src="/images/Search.svg" alt="" width="20px"
                            height="20px"></a> --}}
                    <div class="user-container position-relative">
                        <div class="px-1"><img src="/images/User.svg" alt="" width="20px" height="60px"></div>
                        <div class="user-popup-menu">
                            <ul>
                                <li><span class="fw-bold" id="welcome-text">Welcome</span></li>
                                <li id="login-span"><a href="/login"><span class="btn-2">LOGIN NOW</span></a></li>
                                <li><a href="/account"><span>Account</span></a></li>
                                <li><a href="/wallet"><span>Wallet</span></a></li>
                                <li><a href="/orders/p/1"><span>Orders</span></a></li>
                                <li><a href="/wishlist"><span>Wishlist</span></a></li>
                                <li id="refer-span" data-toggle="modal" data-target="#referModal" hidden
                                    class="cursor-pointer"><span>Refer a friend</span></li>
                                <li id="logout-span" hidden><a href="/logout"><span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="position-relative {{hideDiv hideCartIcon}}" href="/cart">
                        <img src="/images/Basket_alt_3.svg" alt="" width="20px" height="20px">
                        <span class="position-absolute badge bg-danger rounded text-white" id="cart-items-count"
                            style="font-size: 8px;" hidden>0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div style="margin-top: 60px;"></div>

<!-- Modal -->
<div class="modal fade" id="referModal" tabindex="-1" role="dialog" aria-labelledby="referModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Refer &amp; Earn</h5>
                <button type="button" class="close border-0 bg-transparent" data-dismiss="modal" aria-label="Close">
                    <span class="h4" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">Invite your friends and family to join the GadgetHive.</p>
                <p class="mt-1">Earn ₹1000 on every successful referral!</p>
                <p class="mt-1">You and your friend will receive ₹1000.</p>
                <div class="w-75 d-flex gap-3 my-3 justify-content-center">
                    <input id="refer-link" type="text" class="input-1 w-100" style="user-select: all;" disabled>
                    <span class="btn-2" onclick="copyContent()">Copy</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .t33 {
        left: 0;
        right: 0;
        top: 14px;
        font-size: 12px;
    }

    .result-item {
        font-size: 12px;
        color: #444;
        padding: 3px 1px 3px 30px;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
    }

    .result-item:hover {
        background-color: #f4f4f4;
    }

    #results-container {
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    #navbar-search-input {
        min-width: 100%;
        border-radius: 8px;
        height: 32px;
        font-size: 12px;
        text-indent: 30px;
    }

    .search-wrapper input::placeholder {
        color: #9CA3AF;
    }

    #navbar-search-input:focus {
        outline: none;
    }

    .search-wrapper img {
        position: absolute;
        left: 0;
        top: 16px;
        transform: translate(50%, -50%);
    }
</style>

<script>
    const loginBtn = document.querySelector('#login-span')
    const logoutBtn = document.querySelector('#logout-span')
    const referText = document.querySelector('#refer-span')
    const referLink = document.querySelector('#refer-link')
    const welcomeText = document.querySelector('#welcome-text')
    const cartItemsCount = document.querySelector('#cart-items-count')

    function updateHeader(){
        fetch('/get-user', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then((response) => response.json())
        .then((data) => {
            if (data.success) {
                console.log(data)
                welcomeText.textContent = `Welcome, ${data.name}`
                loginBtn.hidden = true
                logoutBtn.hidden = false
                referText.hidden = false
                referLink.value = `https://gadgethive.in/signup/?ref=${data.id}`
                if (data.cartItemsCount > 0) {
                    cartItemsCount.textContent = data.cartItemsCount
                    cartItemsCount.hidden = false
                }
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    updateHeader()

    const input = document.querySelector('#navbar-search-input');
    const searchResultsDiv = document.querySelector('#results-container');
    const searchWrapper = document.querySelector('.search-wrapper');

    input.addEventListener('input', () => {
        searchResultsDiv.style.height = '135px';
        let query = input.value.trim()

        if (query.length > 0) {
            fetch('/instant-search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({ query }),
            })
                .then((response) => response.json())
                .then((data) => {
                    searchResultsDiv.innerHTML = '';

                    data.results.forEach(result => {
                        const resultDiv = document.createElement('p');
                        resultDiv.classList.add('result-item');
                        resultDiv.textContent = result.title;
                        resultDiv.addEventListener('click', () => {
                            window.location = `/shop/p/${result._id}`
                        })
                        searchResultsDiv.appendChild(resultDiv);

                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }


    })

    document.addEventListener('click', (event) => {
        if (!searchWrapper.contains(event.target)) {
            searchResultsDiv.style.height = '0px'
        }
    })

    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape' && searchResultsDiv.style.height != '0px') {
            searchResultsDiv.style.height = '0px'
        }
    });

    input.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            window.location = `/shop/all/?q=${input.value}`
        }
    });

    const copyContent = async () => {
        let referLink = document.getElementById('refer-link').value;
        try {
            await navigator.clipboard.writeText(referLink);
            Toastify({
                text: "Copied to clipboard",
                backgroundColor: "#0D6EFD",
                stopOnFocus: true,
            }).showToast();
        } catch (err) {
            Toastify({
                text: "Failed to copy",
                backgroundColor: "#DC2626",
                stopOnFocus: true,
            }).showToast();
        }
    }

</script>