<!DOCTYPE html>
<html>
<head>
    <title>{{checkText title 'GadgetHive'}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Mobile Universe Awaits: Explore, Choose, Connect">
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/toastify.css">
</head>

<body>
    <div id="modal-container">
        <div id="modal-content" class="border rounded">
            <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold" id="title">Delete Confirmation</p>
                <img src="/images/close.svg" alt="" width="16px" height="16px" id="close-btn" class="cursor-pointer">
            </div>
            <div class="clearfix"></div>
            <p class="mt-1" id="text">Are you sure you want to delete this item?</p>
            <span id="confirmButton" class="btn-1 mt-4 float-end">Delete</span>
            <div class="clearfix"></div>
        </div>
    </div>
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/scripts/toastify.js"></script>

    <script>

        const modal = document.querySelector('#modal-container');
        const closeBtn = document.querySelector('#close-btn')
        const confirmButton = document.querySelector('#confirmButton');

        function openModal(title, text, buttonText) {
            modal.style.display = 'block';
            modal.querySelector('#title').textContent = title
            modal.querySelector('#text').textContent = text
            confirmButton.textContent = buttonText
        }

        function closeModal() {
            modal.style.display = 'none';
        }

        closeBtn.addEventListener('click', closeModal);
        {{!-- document.addEventListener('click', function (event) {
            if (!modal.contains(event.target)) {
                closeModal()
            }
        }); --}}

        document.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
                closeModal();
            }
        });

    </script>
</body>

</html>