<div class="container mt-5">
    <div class="row">
        <div class="mx-auto" style="max-width: 450px;">
        <div id="first">
            <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                        <h3>Create an account</h3>
                        </div>
                </div>
                <form action="/reset" method="post" name="login" id="signup-form">
                        <div class="d-flex flex-column">
                            <label for="email"><span>Email address</span></label>
                            <input type="text" name="email"  class="input-1" id="email" value={{email}}>
                        <span class="error-text email-error text-danger">{{emailError}}</span>
                        </div>
                        <div>
                            <p class="span text-blue float-end mt-1 cursor-pointer" onclick="getOTP()">Get OTP</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="d-flex flex-column mt-1">
                            <label for="phone"><span>OTP</span></label>
                            <input type="number" name="otp"  class="input-1" id="otp">    
                        <span class="error-text otp-error text-danger">{{otpError}}</span>
                        </div>
                        <div class="d-flex flex-column mt-3">
                            <label for="password"><span>Password</span></label>
                            <input type="password" name="password" id="password"  class="input-1">
                        <span class="error-text password-error text-danger">{{passwordError}}</span>
                        </div>
                        <div class="d-flex flex-column mt-3">
                            <label for="password2"><span>Confirm password</span></label>
                            <input type="text" name="password2" id="password2"  class="input-1">
                        <span class="error-text password2-error text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <button type="submit" class="btn-1 tx-tfm">Continue</button>
                        </div>
                        <div class="form-group mt-3">
                            <span class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></span>
                        </div>
                        <div class="col-md-12">
                            <div class="login-or">
                                <hr class="hr-or">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="text-center">Already have account? <a class="text-primary" href="/login" id="signup">Login here</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   

<script>

    function getOTP(){
        const email = document.querySelector("#email").value
        if(email == ""){
            Toastify({text: "Email address required"}).showToast();
        }else{
            const data = {email}
            fetch("/send-otp",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
            .then(data => {
                if(data.success){
                    form.email.setAttribute("readonly", true)
                    Toastify({
                        text: `OTP sent to your Mobile number ending ${data.phoneDigits}`,
                        style: {
                            background: "#468B97",
                        },
                    }).showToast()
                }else{
                    Toastify({text: "Email address not registered"}).showToast();
                }
            })
            .catch(err => {
                console.log(err)
                Toastify({text: "Something went wrong"}).showToast();
            })
        }
    }

    const form = document.querySelector("#signup-form")
    const emailError = document.querySelector(".email-error")
    const otpError = document.querySelector(".otp-error")
    const passError = document.querySelector(".password-error")
    const passError2 = document.querySelector(".password2-error")

    form.addEventListener("submit", e => {
        form.email.value = form.email.value.trim()
        form.otp.value = form.otp.value.trim()
        form.password.value = form.password.value.trim()
        form.password2.value = form.password2.value.trim()

        if (form.password2.value == "") {
            passError2.innerHTML = "Password required"
            e.preventDefault()
            form.password2.focus()
        } else if (form.password.value != form.password2.value) {
            passError2.innerHTML = "Passwords didn't match"
            e.preventDefault()
            form.password2.value = ""
            form.password2.focus()
        }

        if (form.password.value == "") {
            passError.innerHTML = "Password required"
            e.preventDefault()
            form.password.focus()
        } else if (form.password.value.length < 4) {
            passError.innerHTML = "Password should have atleast 4 characters"
            e.preventDefault()
            form.password.focus()
        }

        if (form.otp.value == "") {
            otpError.innerHTML = "OTP required"
            e.preventDefault()
            form.otp.focus()
        } else if (form.otp.value.length != 4) {
            otpError.innerHTML = "OTP should be 4 digits"
            e.preventDefault()
            form.otp.focus()
        }

        if (form.email.value == "") {
            emailError.innerHTML = "Email address required"
            e.preventDefault()
            form.email.focus()
        } else {
            if (
                /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(
                    form.email.value
                )
            ) {
            } else {
                emailError.innerHTML = "Email address not valid"
                e.preventDefault()
                form.email.focus()
            }
        }
    })

    form.email.addEventListener("input", () => {
        emailError.innerHTML = ""
    })

    form.otp.addEventListener("input", () => {
        otpError.innerHTML = ""
    })

    form.password.addEventListener("input", () => {
        passError.innerHTML = ""
    })

    form.password2.addEventListener("input", () => {
        passError2.innerHTML = ""
    })
</script>