<div class="filter-container">
    <div class="brands">
        <h4>Brands</h4>
        <div class="d-flex align-items-center gap-1">
            <input type="checkbox" id="samsung" data-name="samsung" onchange="filterProducts()"/> 
            <label for="samsung">Samsung</label>
        </div>

        <div>
            <label for="apple">
                <input type="checkbox" id="apple" data-name="apple" onchange="filterProducts()" /> Apple
            </label>
        </div>

        
    </div>
    <div class="color">
        <h4>Colors</h4>
        <div>
            <label for="red">
                <input type="checkbox" id="red" data-name="Black" onchange="filterProducts()" /> Black
            </label>
        </div>
        <div>
            <label for="blue">
                <input type="checkbox" id="blue" data-name="Green" onchange="filterProducts()" /> Green
            </label>
        </div>
    </div>
    <div class="memory">
        <h4>memory</h4>
        <div>
            <label for="8gb">
                <input type="checkbox" id="8gb" data-name="8GB" onchange="filterProducts()" /> 8GB
            </label>
        </div>
        <div>
            <label for="12gb">
                <input type="checkbox" id="12gb" data-name="12GB" onchange="filterProducts()" /> 12GB
            </label>
        </div>
    </div>
</div>

<button onclick="goto()">submit</button>

<div>
    <h4>Products</h4>
    <ul>
        {{#each products}}
        <li>
            <a href="/product/{{this._id}}">{{this.title}}</a>
        </li>
        {{/each}}
    </ul>
</div>

<script>

    let url
    goto = () => location.href = url

    function filterProducts() {
        const filters = getAllSelectedFilters()
        const urlEncodedFilters = encodeURIComponent(filters)
        url = `/test/p/1?f=${urlEncodedFilters}`
    }

    function getAllSelectedFilters() {
        let filterQuery = ""
        const filterContainer = document.querySelector('.filter-container')
        const filterCategories = filterContainer.children
        for (let i = 0; i < filterCategories.length; i++) {
            const filterCategory = filterCategories[i]
            const filterCategoryName = filterCategory.className
            const filterCategoryOptions = filterCategory.querySelectorAll(`input[type="checkbox"]:checked`)
            const filterCategoryOptionsNames = Array.from(filterCategoryOptions).map(option => option.getAttribute('data-name'))
            if (filterCategoryOptionsNames.length > 0)
                filterQuery += `${filterCategoryName}=${filterCategoryOptionsNames.join(',')}&`
        }
        if (filterQuery[filterQuery.length - 1] === '&')
            filterQuery = filterQuery.substring(0, filterQuery.length - 1)
        return filterQuery
    }

</script>