{{> navbar}}
<div class="container-fluid">
    <div class="row" style="min-height: 100vh;">
        <div class="d-flex gap-2">

            {{> sidebar currTab = "wishlist"}}

            {{!-- Wishlist --}}

            <div class="flex-grow-1 p-4 mx-auto" style="max-width: 600px;">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="fs-6 fw-bold">Wishlist</span>
                </div>
                <div class="d-flex flex-column gap-3 mt-2">
                    {{#each wishlist}}
                        <div class="d-flex p-2 rounded gap-2 wishlist-item bg-off-white" data-id="{{this.product._id}}">
                            <img src="{{getFirstImageUrl this.product.images}}" alt="" width="50px">
                            <div class="flex-grow-1 pe-2">
                                <h6 class="fw-semibold span">{{this.product.title}}</h6>
                                <span>{{formatPrice this.product.price}}</span>
                                <p class="text-blue fw-semibold span float-end">ADD TO BAG</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}

<style>
    .wishlist-item {
        cursor: pointer;
    }
    .wishlist-item:hover {
        background-color: #f5f5f5;
    }
    .wishlist-item p{
        visibility: hidden;
    }
    .wishlist-item:hover p{
        visibility: visible;
    }
</style>

<script>
    const wishlistItems = document.querySelectorAll(".wishlist-item")
    wishlistItems.forEach(item => {
        item.addEventListener('click', e => {
            const id = e.target.closest('.wishlist-item').getAttribute('data-id');
            fetch("/cart/add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({
                productId: id,
                quantity: 1
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Toastify({ text: "Product added to bag", style: { background: "#468B97" }, }).showToast();
                } else {
                    Toastify({ text: data.message }).showToast();
                }
            })
            .catch(error => {
                Toastify({ text: "Sorry, something went wrong" }).showToast();
            })
        })
    })
</script>