<footer>
    <div class="bg-off-white">
        <div class="container">
            <div class="d-flex justify-content-start gap-5 py-4">
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Products and Services</p></a>
                    <a href=""><p class="footer-text m-1">Smartphones</p></a>
                    <a href=""><p class="footer-text m-1">Watches</p></a>
                    <a href=""><p class="footer-text m-1">Headphones</p></a>
                    <a href=""><p class="footer-text m-1">Cables and Adapters</p></a>
                    <a href=""><p class="footer-text m-1">Accessories</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Support</p></a>
                    <a href=""><p class="footer-text m-1">Terms of use</p></a>
                    <a href=""><p class="footer-text m-1">Cancellation</p></a>
                    <a href=""><p class="footer-text m-1">Returns</p></a>
                    <a href=""><p class="footer-text m-1">Shipping</p></a>
                    <a href=""><p class="footer-text m-1">Privacy policy</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Links</p></a>
                    <a href=""><p class="footer-text m-1">Blog</p></a>
                    <a href=""><p class="footer-text m-1">Carrers</p></a>
                    <a href=""><p class="footer-text m-1">Legal</p></a>
                    <a href=""><p class="footer-text m-1">Site map</p></a>
                    <a href="/"><p class="footer-text m-1">User login</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Contact us</p></a>
                    <a href=""><p class="footer-text m-1">+91 98470 12345</p></a>
                    <a href=""><p class="footer-text m-1">support@gadgethive.com</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Keep in touch</p></a>
                    <a href=""><img src="/images/socail1.png" alt="" width="18px"></a>
                    <a href=""><img src="/images/socail2.png" alt="" width="18px"></a>
                    <a href=""><img src="/images/socail3.png" alt="" width="18px"></a>
                    <a href=""><img src="/images/socail4.png" alt="" width="18px"></a>
                    <a href=""><img src="/images/socail5.png" alt="" width="18px"></a>
                </div>
            </div>
        </div>
    </div>
</footer>