<footer>
    <div class="bg-off-white">
        <div class="container">
            <div class="d-flex justify-content-start gap-5 py-4">
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Products and Services</p></a>
                    <a href="/shop/phones/p/1"><p class="footer-text m-1">Smartphones</p></a>
                    <a href="/shop/Tablets/p/1"><p class="footer-text m-1">Headphones</p></a>
                    <a href="/shop/watches/p/1"><p class="footer-text m-1">Watches</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Support</p></a>
                    <a href="/orders"><p class="footer-text m-1">Cancellation</p></a>
                    <a href="/orders"><p class="footer-text m-1">Returns</p></a>
                    <a href="/orders"><p class="footer-text m-1">Shipping</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Links</p></a>
                    <a href="/"><p class="footer-text m-1">User login</p></a>
                </div>
                <div>
                    <a href=""><p class="footer-text fw-bold text-dark m-1">Contact us</p></a>
                    <a href="tel:+91-98765-43210"><p class="footer-text m-1">+91 9876 543 210</p></a>
                    <a href="mailto:support@gadgethive.com"><p class="footer-text m-1">support@gadgethive.com</p></a>
                </div>
            </div>
        </div>
    </div>
</footer>