<header class="fixed-top border-bottom bg-off-white">
    <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center gap-2" style="height: 50px;">
        <div>
            <a href="/admin/"><img src="/images/logo.png" alt="logo" width="120px"></a>
        </div>
        <div>
            <span class="h5 fw-bold">Admin</span>
        </div>
    </div>
</div>
</header>
<div style="margin-top: 50px;"></div>



