<div class="d-flex">
    <div class="admin-navbar">
        <a href="/admin/">
            <div class="p-1 mt-2 border-0 rounded {{#if (isActive currTab 'dashboard')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/chart.svg" alt="" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Dashboard</span>
            </div>
        </a>
        <a href="/products/all/p/1">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'products')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/products.svg" alt="" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Products</span>
            </div>
        </a>
        <a href="/admin/orders/p/1">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'orders')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/orders.svg" alt="" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Orders</span>
            </div>
        </a>
        <a href="/categories/">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'categories')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/folder_copy.svg" alt="cat" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Categories</span>
            </div>
        </a>
        <a href="/brands/">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'brands')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/turbine.svg" alt="cat" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Brands</span>
            </div>
        </a>
        <a href="/banners/">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'banners')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/banner.svg" alt="cat" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Banners</span>
            </div>
        </a>
        <a href="/users/p/1">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'users')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/user_group.svg" alt="" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Users</span>
            </div>
        </a>
        <a href="/reports/">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'reports')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/report.svg" alt="cat" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Sales Report</span>
            </div>
        </a>
        <hr class="m-1">
        <a href="/admin/logout">
            <div class="p-1 border-0 rounded {{#if (isActive currTab 'logout')}}bg-off-white fw-semibold{{/if}}">
                <img src="/images/sign_out.svg" alt="" width="20px" height="20px">
                <span class="d-none d-md-inline-block" style="width: 130px;">Logout</span>
            </div>
        </a>
    </div>
    <div class="border-end ms-2"></div>
</div>